<thf-page-default>
  <thf-info t-label="Qual o usuário que devo usar para acessar o FL ANSWERS?"></thf-info>
  <P STYLE="margin-bottom: 0.11in">Os usuários do FL ANSWERS são
  criados sempre utilizando o seu e-mail institucional. Para o primeiro
  acesso você recebe o usuário com uma senha temporária neste e-mail
  e deverá alterá-la na primeira utilização. A própria ferramenta
  irá pedir isso automaticamente para você.</P>
  <P STYLE="margin-bottom: 0.11in">Caso você não tenha recebido o
  e-mail, cheque se seu usuário já foi solicitado. Se sim, você pode
  acessar o link <A HREF="https://myaccount.flanswers.org/accounts/Reset">https://myaccount.FL
  ANSWERS.org/accounts/Reset</A> e solicitar o reset de sua senha. É
  preciso saber o nome do usuário, no entanto. Você pode conversar
  com o líder de organização e gerenciamento ou com o coordenador
  para saber.</P>
  <DIV CLASS="checar1" ALIGN=BOTTOM WIDTH=382 HEIGHT=135 BORDER=0></DIV>
  <P STYLE="margin-bottom: 0.11in">Com isso, você receberá um link em
  seu e-mail institucional para fazer esse procedimento. Se o e-mail
  não chegar, entre em contato com o seu coordenador para entender o
  motivo.</P>
</thf-page-default>