<thf-page-default t-title="Glossário - FL ANSWERS">
  <thf-list><thf-list-item><thf-list-item-content>
    <P STYLE="margin-bottom: 0.11in">Abaixo apresentamos um dicionário
    de termos e siglas para ficar mais claro seus significados:</P>
    <UL>
      <LI><P STYLE="margin-bottom: 0.11in"><SPAN LANG="en-US"><B>Activity</B></SPAN><B>:</B>
      É um atividade feita em um caso. Representa uma ação já tomada.
      Cada esforço em relação a um caso deve ser lançado no FL ANSWERS
      como uma<SPAN LANG="en-US"> activity</SPAN> para que depois possamos
      ter uma visão detalhada das atividades do departamento;</P>
      <LI><P STYLE="margin-bottom: 0.11in"><SPAN LANG="en-US"><B>Beneficiary:</B></SPAN>
      Beneficiário, é o centro do nosso serviço. A figura do
      beneficiário muda de acordo com o tipo de caso e é essencial para
      o case<SPAN LANG="en-US"> worker</SPAN> saber identificar quem deve
      ser o beneficiário conforme.</P>
      <LI><P STYLE="margin-bottom: 0.11in"><B>Case</B><SPAN LANG="en-US"><B>
      Worker</B></SPAN><B>:</B> É um nível de permissão no FL ANSWERS.
      No caso, todo voluntário terá esse nível. Ele permite que se
      inclua beneficiários e dê andamento em casos. Você também pode
      apagar<SPAN LANG="en-US"> </SPAN><SPAN LANG="en-US"><B>tasks</B></SPAN>
      e<SPAN LANG="en-US"> </SPAN><SPAN LANG="en-US"><B>activities</B></SPAN>
      ainda em aberto que você mesmo lançou, mas não pode apagar uma
      pessoa incluída, por isso muita atenção na hora de incluir
      pessoas!</P>
      <LI><P STYLE="margin-bottom: 0.11in"><SPAN LANG="en-US"><B>Enquirer:</B></SPAN>
      Solicitante<SPAN LANG="en-US">, é</SPAN> quem pediu<SPAN LANG="en-US">
      o</SPAN> nosso serviço. Em algumas situações, o próprio
      beneficiário é o solicitante, mas na maioria eles são figuras
      diferentes. Quando for o segundo caso, o<SPAN LANG="en-US"> enquirer</SPAN>
      deve ser registrado na aba de<SPAN LANG="en-US"> relatives;</SPAN></P>
      <LI><P STYLE="margin-bottom: 0.11in"><B>I</B><SPAN LANG="en-US"><B>
      am Alive</B></SPAN><B>:</B> Mensagem Estou vivo;</P>
      <LI><P STYLE="margin-bottom: 0.11in"><SPAN LANG="en-US"><B>Incoming</B></SPAN><B>
      case:</B> Casos registrados em outra SN ou na CICV que recebemos e
      devemos dar prosseguimento aqui;</P>
      <LI><P STYLE="margin-bottom: 0.11in"><B>Interoperabilidade</B>: É a
      troca de casos entre outras sociedades nacionais e CICV. Esse é um
      termo que você pode se deparar, mas nosso coordenador (para trocas
      com a CICV) e o OC (para troca com outras SN) tem permissão para
      executar essa rotina. Da parte do case<SPAN LANG="en-US"> worker</SPAN>,
      apenas criamos<SPAN LANG="en-US"> </SPAN><SPAN LANG="en-US"><B>tasks</B></SPAN>
      e as atribuímos aos responsáveis cabíveis;</P>
      <LI><P STYLE="margin-bottom: 0.11in"><B>NS:</B> Sociedade Nacional /
      Nacional<SPAN LANG="en-US"> Society</SPAN>;</P>
      <LI><P STYLE="margin-bottom: 0.11in"><B>OC:</B> Órgão Central;</P>
      <LI><P STYLE="margin-bottom: 0.11in"><B>Oral Greetings:</B> Mensagem
      oral, Salamat;</P>
      <LI><P STYLE="margin-bottom: 0.11in"><SPAN LANG="en-US"><B>Outcome</B></SPAN><B>:</B>
      é uma<SPAN LANG="en-US"> activity</SPAN> de conclusão do caso.
      Pode não ser a última<SPAN LANG="en-US"> activity</SPAN> que
      lancemos, muitas vezes temos que lançar uma posterior representando
      a comunicação do resultado para um solicitante, mas ao encerrarmos
      um caso, devemos aponta-la para fins de controle;</P>
      <LI><P STYLE="margin-bottom: 0.11in"><SPAN LANG="en-US"><B>Outgoing</B></SPAN><B>
      case:</B> Casos registrados aqui que devem ser transferidos para
      outra SN ou para o CICV;</P>
      <LI><P STYLE="margin-bottom: 0.11in"><B>Phone</B><SPAN LANG="en-US"><B>
      Call</B></SPAN><B>:</B> Chamada telefônica</P>
      <LI><P STYLE="margin-bottom: 0.11in"><B>RCM:</B><SPAN LANG="en-US">
      Red</SPAN> Cross<SPAN LANG="en-US"> Message</SPAN>, Mensagem Cruz
      Vermelha;</P>
      <LI><P STYLE="margin-bottom: 0.11in"><B>Safe &amp;</B><SPAN LANG="en-US"><B>
      Well</B></SPAN><B>:</B> Mensagem São e salvo;</P>
      <LI><P STYLE="margin-bottom: 0.11in"><B>SB:</B> Solicitação de
      Busca;</P>
      <LI><P STYLE="margin-bottom: 0.11in"><B>SN:</B> Sociedade Nacional /
      Nacional<SPAN LANG="en-US"> Society</SPAN>;</P>
      <LI><P STYLE="margin-bottom: 0.11in"><B>SP:</B><SPAN LANG="en-US">
      Searched person</SPAN>, pessoa buscada;</P>
      <LI><P STYLE="margin-bottom: 0.11in"><SPAN LANG="en-US"><B>Task</B></SPAN>:
      É uma tarefa a fazer. Usamos<SPAN LANG="en-US"> tasks</SPAN> no FL
      ANSWERS para controlar as ações que devemos tomar relativas a
      nossos casos.<SPAN LANG="en-US"> </SPAN><SPAN LANG="en-US"><B>Tasks</B></SPAN>
      pendentes aparecem no dashboard inicial quando entramos na
      ferramenta como um lembrete de tudo o que temos a fazer. É possível
      que você crie<SPAN LANG="en-US"> tasks</SPAN> para si mesmo ou
      outros atribuam para você, e você também pode criar<SPAN LANG="en-US">
      tasks</SPAN> e atribuir a outros usuários. Tudo conforme a
      organização que for combinada na equipe;</P>
      <LI><P STYLE="margin-bottom: 0.11in"><SPAN LANG="en-US"><B>Tracing</B></SPAN><B>:</B>
      Busca ou o tipo de serviço que contém as<SPAN LANG="en-US">
      activities</SPAN> de solicitação de busca;</P>
      <LI><P STYLE="margin-bottom: 0.11in"><SPAN LANG="en-US"><B>Tracing
      Request</B></SPAN><B>:</B> Solicitação de Busca;</P>
    </UL>
  </thf-list-item-content></thf-list-item></thf-list>
</thf-page-default>