<thf-page-default>
    <thf-info t-label="Como acesso ao FL ANSWERS?"></thf-info>
  <P STYLE="margin-bottom: 0.11in"><A NAME="_Hlk520487508"></A>Há dois
  sites diferentes para o FL ANSWERS: o site de treinamento e o site de
  produção.</P>
  <P STYLE="margin-bottom: 0.11in">O site de treinamento é destinado
  aos voluntários que estão aprendendo a mexer na ferramenta. Lá
  vocês poderão estudar o Sistema e executar os exercícios para se
  habilitarem.</P>
  <P STYLE="margin-bottom: 0.11in">O ambiente de produção é o
  oficial do FL ANSWERS onde lançaremos os casos reais. Você só deve
  entrar neste ambiente se já recebeu a permissão do seu coordenador
  para fazê-lo! Se você quiser tirar dúvidas sobre o uso da
  ferramenta, por exemplo, mesmo após já ter permissão, acesse o
  ambiente de treinamento.</P>
  <P STYLE="margin-bottom: 0.11in">É importante se certificar que, ao
  inserir o link no seu navegador, ele comece com <B>https</B>. Se
  começar com <B>http</B> ou sem nenhum dos dois ele não irá
  funcionar.</P>
  <P STYLE="margin-bottom: 0.11in">O link de treinamento é:
  <A HREF="https://bra.flanswersprep.org/">https://bra.FL
  ANSWERSprep.org/</A>.</P>
  <P STYLE="margin-bottom: 0.11in">O link de produção é:
  <A HREF="https://bra.flanswers.org/">https://bra.FL ANSWERS.org/</A>.</P>
  <P STYLE="margin-bottom: 0.11in"><B>ATENÇÃO:</B> Caso você esteja
  treinando e o cabeçalho do sistema estiver vermelho, pare tudo o que
  você está fazendo! Você está no ambiente de produção do<SPAN LANG="en-US">
  FL ANSWERS</SPAN>! Faça<SPAN LANG="en-US"> logoff</SPAN> e entre no
  ambiente de treinamento, que é na url <A HREF="https://bra.flanswersprep.org/">https://bra.FL
  ANSWERSprep.org/</A>. O cabeçalho do Sistema deve estar verde, como
  na figura abaixo:</P>
  <P STYLE="margin-bottom: 0.11in"><DIV CLASS="checar1" ALIGN=BOTTOM WIDTH=311 HEIGHT=65 BORDER=0></DIV>
</thf-page-default>