<thf-page-default>
    <thf-info t-label="Qual pessoa devo incluir como beneficiário no primeiro passo do cadastro?"></thf-info>
  <P STYLE="margin-bottom: 0.11in">A primeira pessoa a ser incluída é
  sempre o Beneficiário. No entanto, a figura do beneficiário muda de
  acordo com o tipo de caso que você deseja incluir. Abaixo segue a
  relação:</P>
  <P STYLE="margin-bottom: 0.11in"><BR><BR>
  </P>
  <UL>
    <LI><P STYLE="margin-bottom: 0.11in"><B>Solicitação de busca /</B><SPAN LANG="en-US"><B>
    Tracing Request</B></SPAN><B>:</B> O beneficiário é a pessoa
    buscada;</P>
    <LI><P STYLE="margin-bottom: 0.11in"><B>Mensagem Cruz Vermelha /</B><SPAN LANG="en-US"><B>
    Red</B></SPAN><B> Cross</B><SPAN LANG="en-US"><B> Message</B></SPAN><B>
    (RCM):</B> O beneficiário é o destinatário;</P>
    <LI><P STYLE="margin-bottom: 0.11in"><B>Mensagem São e Salvo / Safe</B><SPAN LANG="en-US"><B>
    and Well Message</B></SPAN><B>:</B> O beneficiário é o
    destinatário;</P>
    <LI><P STYLE="margin-bottom: 0.11in"><B>Salamat / Oral Greetings: </B>O
    beneficiário é o destinatário;</P>
    <LI><P STYLE="margin-bottom: 0.11in"><B>Chamada telefônica / Phone</B><SPAN LANG="en-US"><B>
    Call completed</B></SPAN>: O beneficiário é a pessoa que solicitou
    a chamada;</P>
    <LI><P STYLE="margin-bottom: 0.11in"><B>Documentos /</B><SPAN LANG="en-US"><B>
    Documents</B></SPAN><B>: </B>A pessoa objeto da documentação. Isso
    é importante diferir, pois se o atendido solicita documentos que
    dizem respeito a ele, ele é o beneficiário. Se é solicitado
    documentos que dizem respeito a outra pessoa, essa pessoa é o
    beneficiário;</P>
  </UL>
</thf-page-default>