<thf-page-default>
    <thf-info t-label="Como saber se devo incluir pessoas como Accompanying persons ou como Relatives"></thf-info>
  <P STYLE="margin-bottom: 0.11in">Por regra geral, acompanhantes fazem
  sentido no contexto de<SPAN LANG="en-US"> </SPAN><SPAN LANG="en-US"><B>Tracing
  Request</B></SPAN>. São as pessoas que estão juntos de um
  beneficiário, que o estão acompanhando. Já os<SPAN LANG="en-US">
  relatives</SPAN>, são os solicitantes dessa busca ou algum parente
  conhecido.</P>
  <P STYLE="margin-bottom: 0.11in">Atente que o cadastro da pessoa que
  acompanha difere do cadastro de<SPAN LANG="en-US"> </SPAN><SPAN LANG="en-US"><B>Persons</B></SPAN>
  na plataforma. Ele tem caráter informativo somente e nunca irá se
  tornar um objeto de serviço no futuro. Se um acompanhante um dia
  precisar de nosso serviço, ele irá ser registrado novamente como
  beneficiário.</P>
  <P STYLE="margin-bottom: 0.11in">No caso de<SPAN LANG="en-US">
  </SPAN><SPAN LANG="en-US"><B>Relatives</B></SPAN>, ele entra no
  cadastro de<SPAN LANG="en-US"> </SPAN><SPAN LANG="en-US"><B>Persons</B></SPAN>
  e, por isso, pode se tornar beneficiário em um futuro atendimento.</P>
  <P STYLE="margin-bottom: 0.11in">Você também pode marcar um dos<SPAN LANG="en-US">
  </SPAN><SPAN LANG="en-US"><B>relatives</B></SPAN> como<SPAN LANG="en-US">
  </SPAN><SPAN LANG="en-US"><B>enquirer</B></SPAN>, quando o tipo do
  serviço lançado exigir um. Os contextos onde isso é necessário
  são:</P>
  <UL>
    <LI><P STYLE="margin-bottom: 0.11in">Solicitação de busca /<SPAN LANG="en-US">
    Tracing Request</SPAN>;</P>
    <LI><P STYLE="margin-bottom: 0.11in">Mensagem Cruz Vermelha / RCM;</P>
    <LI><P STYLE="margin-bottom: 0.11in">Salamat / Oral Greetings;</P>
    <LI><P STYLE="margin-bottom: 0.11in">Mensagem São e Salvo / Safe &amp;<SPAN LANG="en-US">
    Well</SPAN>;</P>
    <LI><P STYLE="margin-bottom: 0.11in">Documentos /<SPAN LANG="en-US">
    Documents</SPAN> (Só quando o solicitante não é o objeto da
    documentação porque, neste caso, ele é o próprio beneficiário);</P>
  </UL>
</thf-page-default>