<thf-page-default t-title="Como ele funciona?">
  As ações iniciais (ou os fluxos) disponíveis são exibidas no menu lateral. Você escolhe a opção que quer simular, uma descrição da ação inicial é exibida e, então, as próximas ações disponíveis aparecem a sua escolha. A partir daí, é só escolher uma e continuar avançando!<br>
  Para ilustrar melhor, segue um exemplo bem simples de ação inicial: <b>Acordar</b><br>
  Quais as próximas ações que você pode fazer?
  <br><br><ul>
    <li>Levantar</li>
    <li>Dormir mais cinco minutos</li>
  </ul><br>
  Se você estivesse executando este fluxo no app, poderia escolher a segunda ação e clicar em selecionar. Então, as próximas ações possíveis poderiam ser as seguintes:
  <br><br><ul>
    <li>Perder a hora</li>
    <li>Acordar a tempo</li>
  </ul><br>
  É claro que você nunca escolheria voluntariamente perder a hora! Mas aqui a ideia é registrar um possível fluxo de ação! Vamos imaginar que você está lançando nesse fluxo uma história que realmente aconteceu, e você foi dormir mais cinco minutinhos e perdeu a hora de verdade... por isso você escolheu a opção <b>Perder a hora</b> e clicou em selecionar. As próximas ações apareceriam:
  <br><br><ul>
    <li>Se arrumar correndo e nem tomar café da manhã</li>
    <li>Se arrumar correndo e engolir o café da amanhã o mais rápido possível</li>
    <li>Aceitar que perdeu a hora e fazer as coisas com calma. Outro dia você compensa o horário</li>
  </ul><br>
  Essa é a ideia geral! As opções vão sendo exibidas de acordo com as suas escolhas anteriores. Esse aplicativo pode te ajudar a entender melhor as opções que você pode tomar em um cenário mais rígido, como o registro em um sistema, procedimentos de laboratório, ordem de passos em algum processo burocrático, e assim por diante!
</thf-page-default>