<thf-page-default>
    <thf-info t-label="Esqueci meu usuário! O que faço?"></thf-info>
  <P STYLE="margin-bottom: 0.11in">Converse com o seu coordenador ou
  com o líder de organização e gerenciamento para descobrir o
  usuário correto, mas salvo algum caso de coincidência com um
  usuário já cadastrado ou outra exceção, os usuários do FL
  ANSWERS são criados no padrão <B>[Primeiro nome].[Último nome]</B>.</P>
  <P STYLE="margin-bottom: 0.11in"><I>Exemplo: Thiago.Santos</I></P>
</thf-page-default>