<thf-page-default>
    <thf-info t-label="Quando devo informar Relatives e Enquirer?"></thf-info>
  <P STYLE="margin-bottom: 0.11in">Por padrão, coletamos apenas as
  informações necessárias para o nosso serviço, portanto,
  recomendamos que essas informações sejam preenchidas, e inclusive
  solicitadas, apenas quando forem necessárias ou interessantes para a
  resolução do caso. Abaixo segue situações onde devemos cadastrar:</P>
  <UL>
    <LI><P STYLE="margin-bottom: 0.11in">Quando o caso for uma
    solicitação de busca, devemos cadastrar tanto<SPAN LANG="en-US">
    enquirer</SPAN> (quem solicitou a busca) quanto<SPAN LANG="en-US">
    relatives</SPAN>. Quanto mais informações tivermos, maiores as
    chances de a busca ser bem-sucedida;</P>
    <LI><P STYLE="margin-bottom: 0.11in">Em casos de RCM, Salamats, Safe
    &amp;<SPAN LANG="en-US"> Well</SPAN>, I<SPAN LANG="en-US"> am alive</SPAN>,
    precisamos do<SPAN LANG="en-US"> enquirer</SPAN> (solicitante) pela
    natureza do serviço;</P>
    <LI><P STYLE="margin-bottom: 0.11in">Em casos de registros de menor
    não acompanhado, todas as informações possíveis são
    interessantes para o registro do caso, então devemos registrar sim<SPAN LANG="en-US">
    relatives</SPAN>.<SPAN LANG="en-US"> Enquirer</SPAN> não faz
    sentido se o serviço prestado for o de registro de vulnerável. Se
    este registro se desdobrar em uma solicitação de busca, o próprio
    menor não acompanhado, antes<SPAN LANG="en-US"> beneficiary</SPAN>,
    passará a ser um<SPAN LANG="en-US"> enquirer</SPAN> do caso, pois
    em SB o<SPAN LANG="en-US"> beneficiary</SPAN> é sempre a pessoa
    buscada;</P>
  </UL>
  <P STYLE="margin-bottom: 0.11in"><BR><BR>
  </P>
  <P STYLE="margin-bottom: 0.11in">Chamadas telefônicas só é
  interessante registrar os dados básicos da pessoa. Se for
  identificada alguma necessidade que torne interessante preencher
  outras informações, no entanto, não há problemas em fazê-lo.</P>
</thf-page-default>