<thf-page-default t-title="O que são cenários?">
  Cenários representam diferentes pessoas, cargos, ou situações. É o contexto geral onde os fluxos são cadastrados.<br>
  Por exemplo, você poderia ter um cenário <b>Funcionário de RH</b> com os seguintes fluxos no menu lateral:
  <br><br><ul>
    <li>Buscar candidatos para vaga</li>
    <li>Preparar a folha de pagamento</li>
    <li>Preparar relatório mensal de custos</li>
  </ul><br>
  Você também poderia ter um cenário <b>Tarefas Domésticas</b> com os seguintes fluxos no menu lateral:
  <br><br><ul>
    <li>Lavar roupas</li>
    <li>Limpar o piso</li>
    <li>Preparar comida</li>
  </ul><br>
  Portanto, as opções disponíveis variam de cenário a cenário.
</thf-page-default>