<thf-page-default>
    <thf-info t-label="Como checar se a pessoa que quero incluir já existe no FLANSWERS?"></thf-info>
  <P STYLE="margin-bottom: 0.11in">Antes de tudo, certifique-se que a
  pessoa que você quer lançar é de fato o beneficiário da
  atividade. Isso é importantíssimo: Os lançamentos do FL ANSWERS
  são todos orientados ao beneficiário e é imprescindível
  identificar corretamente quem é ele em cada cenário.</P>
  <P STYLE="margin-bottom: 0.11in">Você pode procurar pelo nome da
  pessoa no campo de busca geral, na própria tela Person</P>
  <P STYLE="margin-bottom: 0.11in"><DIV CLASS="checar1" ALIGN=BOTTOM WIDTH=507 HEIGHT=109 BORDER=0></DIV>
  <P STYLE="margin-bottom: 0.11in">O nome deverá estar no formato
  <B>Sobrenome, (vírgula) nome</B>. O uso do caractere especial <B>*</B>
  <B>(asterisco)</B> também é útil para se procurar por parte do
  nome. Por exemplo, se você procurar por <B>“*ammed”</B> pode
  encontrar alguém que se chama <B>Mohammed</B>. O asterisco
  representa “qualquer coisa”, ou seja: neste exemplo, estamos
  procurando por qualquer coisa que contenha a expressão <B>ammed</B>.</P>
  <P STYLE="margin-bottom: 0.11in"><BR><BR>
  </P>
  <P STYLE="margin-bottom: 0.11in">Feito o primeiro filtro, é muito
  importante checar os demais dados como<SPAN LANG="en-US"> </SPAN><SPAN LANG="en-US"><B>Birth</B></SPAN><B>
  Date</B>,<SPAN LANG="en-US"> </SPAN><SPAN LANG="en-US"><B>Father’s
  Name</B></SPAN>,<SPAN LANG="en-US"> </SPAN><SPAN LANG="en-US"><B>Mother’s
  Name</B></SPAN> para se certificar que se trata do beneficiário
  desejado de fato</P>
  <P STYLE="margin-bottom: 0.11in"><DIV CLASS="checar2" ALIGN=BOTTOM WIDTH=602 HEIGHT=73 BORDER=0></DIV>
  <P STYLE="margin-bottom: 0.11in"><BR><BR>
  </P>
  <P STYLE="margin-bottom: 0.11in">Após se certificar que o
  beneficiário não está incluído no Sistema, então, pode-se
  incluir um novo.</P>
</thf-page-default>