.checar1 {
    background:url(../../../../assets/images/Apontamentos_-_Perguntas_e_Repostas_para_case_work_html_a5968aae.png) no-repeat;
    width: 507px;
    height: 109px;
    background-size:cover;
}

.checar2 {
    background:url(../../../../assets/images/Apontamentos_-_Perguntas_e_Repostas_para_case_work_html_e5514963.png) no-repeat;
    width: 602px;
    height: 73px;
    background-size:cover;
}