<thf-page-default>
    <thf-info t-label="Esqueci a senha do meu e-mail institucional! O que faço?"></thf-info>
  <P STYLE="margin-bottom: 0.11in">Entre em contato com o seu
  coordenador ou com o líder do grupo de trabalho de Organização e
  Gerenciamento.</P>
  <H2 CLASS="western">Como faço para incluir um novo caso?</H2>
  <P STYLE="margin-bottom: 0.11in"><BR><BR>
  </P>
  <P STYLE="margin-bottom: 0.11in">O processo de inclusão de um caso
  corresponde ao processo de criação de um beneficiário. Ir para
  (link). Só que antes desse registro, é preciso certificar se o
  beneficiário já não existe no FLANSWERS.</P>
</thf-page-default>